html {
  margin: 5px;
  padding: 10px;
}

body {
  background-image: linear-gradient(white, black);
}
.container-navbar {
}
.ul-navbar {
  display: flex;
  height: 100px;
  justify-content: right;
  align-items: center;
  justify-items: normal;
}
.li-navbar {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  color: white;
  justify-content: center;
  background-color: black;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  flex-direction: column;
}
.li-navbar:hover {
  background-color: blue;
  transition: 0.5s ease-in-out;
  transition-delay: 0.2s;
  border-radius: 10px;
}
.a-navbar {
  color: white;
  text-decoration: none;
}
/* End Navbar */
/* conten mulai */
.href-content {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 60%;
  height: 30%;
}
.container-content {
  justify-content: right;
  display: flex;
}
.ul-content {
  color: rgb(11, 9, 9);
  display: flex;
}
.li-content {
  list-style-type: none;
  justify-content: left;
  display: flex;
}

.container-footer {
  list-style-type: none;
}
.ul-footer {
  list-style-type: none;
  color: white;
  display: flex;
  justify-content: center;
  font-style: italic;
}
.li-content {
  text-transform: capitalize;
  justify-content: left;
  font-style: initial;
}
.ul-content2 {
  list-style-type: none;
  display: flex;
  color: white;
  padding: 5px;
  justify-content: center;
  align-items: center;
  justify-items: normal;
}
.li-content2 {
  padding: 5px;
  margin: 10px;
  background-color: black;
  border: 1px solid black;
  padding: 10px;
  width: 20%;
  height: 10pxpx;
  text-align: center;
}
.img-1:hover {
  transition: 0.5s ease-in-out;
}
.img-1 {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
